.container {
    font-family: Arial, Verdana, "Times New Roman";
    text-align: center;
    color: rgb(221, 103, 82);
    background-color: rgb(255, 251, 246);
    border: 2px solid;   
}
.block {
    display: inline-block;
    text-align: left;
}

.num-block {
    display: inline-block;
    list-style-position: inside;
}

h1 {
    
    display: inline-block;
    width: 600px;
    border: 1px solid rgb(241, 112, 89);
    box-shadow: 6px 4px 8px -2px;
}    

img {
    
    border-radius: 20px;
    border: rgb(245, 170, 157) solid;
    padding: 5px;
}
.font-size{
    font-size: 20px;
}    
